# Importing Libraries

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
from datetime import datetime, timedelta

# Importing Data

In [4]:
with open('new_clean_data.pkl', 'rb') as file:
    df = pickle.load(file)

In [6]:
# adjust display options to show all columns
pd.set_option('display.max_columns', None)

In [7]:
df.head()

,video_id,channel_id,title,description,tags,caption,licensed_content,view_count,like_count,comment_count,channel_name,subscribers,total_views,total_videos,playlist_id,category,duration_formatted,published_at_formatted,no_of_tags,title_length,description_length
0,3fqTNzXY5tg,UCvZnwzmc3m1Eush-Or8Z6DA,Using Code and GPT-3 to Learn Faster,Thanks to ProjectPro.io for their support: htt...,[],True,True,6871,184,23,Shashank Kalanithi,140000,6562136,152,UUvZnwzmc3m1Eush-Or8Z6DA,Education,0 days 00:18:06,2023-02-19 14:00:02,0,36,795
1,bgVu5WVR9SE,UCvZnwzmc3m1Eush-Or8Z6DA,Data Analyst MENTORSHIP - Q&A (while I drink ...,⬇️⬇️⬇️Check here prior to asking your question...,[],True,True,3723,184,9,Shashank Kalanithi,140000,6562136,152,UUvZnwzmc3m1Eush-Or8Z6DA,Education,0 days 00:29:22,2022-11-04 03:32:38,0,53,1475
2,4we3smhjAB8,UCvZnwzmc3m1Eush-Or8Z6DA,How Data Science ACTUALLY Works,Check out Deepnote for the easiest way to prac...,[],True,True,85152,2647,136,Shashank Kalanithi,140000,6562136,152,UUvZnwzmc3m1Eush-Or8Z6DA,Education,0 days 00:26:50,2022-11-01 16:30:09,0,31,1205
3,lpF5SSgczeE,UCvZnwzmc3m1Eush-Or8Z6DA,Does Instagram think you live in an influentia...,Request this and many other datasets @: https:...,[],True,True,4470,158,12,Shashank Kalanithi,140000,6562136,152,UUvZnwzmc3m1Eush-Or8Z6DA,Education,0 days 01:24:08,2022-10-25 14:00:07,0,81,1059
4,cRVM-LTe3fI,UCvZnwzmc3m1Eush-Or8Z6DA,Data Analyst MENTORSHIP - Q&A (while I drink ...,⬇️⬇️⬇️Check here prior to asking your question...,[],True,True,3078,104,4,Shashank Kalanithi,140000,6562136,152,UUvZnwzmc3m1Eush-Or8Z6DA,Education,0 days 00:26:55,2022-10-07 03:36:26,0,53,1475

# EDA

In [27]:
# create time delta to check videos posted in last 30days
now = datetime.now()

one_month_ago = now - timedelta(days=30)

one_month_ago

datetime.datetime(2023, 11, 19, 16, 29, 18, 456582)

In [30]:
# create df of videos a month old
df_one_month_ago = df[df['published_at_formatted'] >= one_month_ago]

In [ ]:
# create df of videos only a minute long
min_vid_time = timedelta(seconds=60)

df_oneminvid = df[df['duration_formatted'] <= min_vid_time]

In [33]:
df.describe().round(2)

,view_count,like_count,comment_count,subscribers,total_views,total_videos,duration_formatted,no_of_tags,title_length,description_length
count,9322.00,9322.00,9322.00,9322.00,9322.00,9322.00,9322,9322.00,9322.00,9322.00
mean,41207.70,950.78,54.35,448648.02,37438378.55,1079.89,0 days 00:31:00.894121433,12.26,62.53,2109.46
std,161115.87,3091.49,162.94,346890.26,31298157.33,721.74,0 days 00:57:43.756530145,8.71,21.65,1204.35
min,0.00,0.00,0.00,20900.00,291211.00,58.00,0 days 00:00:00,0.00,4.00,0.00
25%,1811.50,38.00,2.00,155000.00,8740951.00,303.00,0 days 00:04:11,5.00,46.00,1114.25
50%,6974.50,177.50,12.00,255000.00,22950468.00,1532.00,0 days 00:10:59,11.00,60.00,2093.00
75%,24418.25,638.00,47.00,809000.00,63094287.00,1758.00,0 days 00:40:55.500000,20.00,81.00,2921.00
max,7615207.00,65474.00,4269.00,1060000.00,86329667.00,1857.00,0 days 11:59:53,44.00,109.00,5000.00

In [32]:
df_one_month_ago.describe().round(2)

,view_count,like_count,comment_count,subscribers,total_views,total_videos,duration_formatted,no_of_tags,title_length,description_length
count,153.00,153.00,153.00,153.00,153.00,153.00,153,153.00,153.00,153.00
mean,10018.07,394.38,18.63,262033.99,21872580.65,815.21,0 days 00:20:39.555555555,7.61,64.67,1169.95
std,17668.17,673.33,28.60,297928.85,26883938.63,640.62,0 days 00:35:16.650537650,7.93,21.34,1026.25
min,0.00,0.00,0.00,29300.00,1588707.00,58.00,0 days 00:00:00,0.00,20.00,0.00
25%,343.00,11.00,0.00,61900.00,4258081.00,270.00,0 days 00:00:57,0.00,48.00,91.00
50%,2778.00,136.00,6.00,106000.00,5737808.00,576.00,0 days 00:06:49,6.00,66.00,1053.00
75%,11542.00,484.00,25.00,211000.00,22950468.00,1532.00,0 days 00:29:27,9.00,81.00,1930.00
max,125592.00,5051.00,131.00,1060000.00,86329667.00,1857.00,0 days 04:34:24,38.00,100.00,4434.00

In [43]:
df_oneminvid.describe().round(2)

,view_count,like_count,comment_count,subscribers,total_views,total_videos,duration_formatted,no_of_tags,title_length,description_length
count,818.00,818.00,818.00,818.00,818.00,818.00,818,818.00,818.00,818.00
mean,44427.59,777.40,17.46,246577.02,17595233.87,572.31,0 days 00:00:39.367970660,10.76,50.05,1253.12
std,314251.60,1839.45,28.06,259381.01,21575692.28,521.90,0 days 00:00:16.154935311,9.59,18.86,1027.15
min,0.00,0.00,0.00,20900.00,291211.00,58.00,0 days 00:00:00,0.00,8.00,0.00
25%,2623.75,82.00,3.00,61900.00,4258081.00,286.00,0 days 00:00:28,0.00,37.00,231.00
50%,7963.00,293.50,8.50,185000.00,9376789.00,308.00,0 days 00:00:42,8.00,47.00,1420.00
75%,16805.00,718.75,20.00,220000.00,14481229.00,576.00,0 days 00:00:54,20.00,59.00,1948.00
max,7615207.00,23776.00,251.00,1060000.00,86329667.00,1857.00,0 days 00:01:00,33.00,100.00,3764.00

In [45]:
# drop videos upto a minute in duration, as youtube shorts are 60seconds, these videos have a large std, and include advertisement videos

df.drop(df[df['duration_formatted'] <= min_vid_time].index, inplace=True)

In [47]:
df.describe().round(2)

,view_count,like_count,comment_count,subscribers,total_views,total_videos,duration_formatted,no_of_tags,title_length,description_length
count,8504.00,8504.00,8504.00,8504.00,8504.00,8504.00,8504,8504.0,8504.00,8504.00
mean,40897.98,967.45,57.90,468085.23,39347091.20,1128.72,0 days 00:33:56.106773283,12.4,63.73,2191.83
std,137716.37,3185.67,169.95,348049.79,31425469.48,719.50,0 days 00:59:37.970832538,8.6,21.52,1187.98
min,4.00,0.00,0.00,20900.00,291211.00,58.00,0 days 00:01:01,0.0,4.00,0.00
25%,1748.25,35.00,2.00,155000.00,8740951.00,303.00,0 days 00:05:15,5.0,47.00,1226.75
50%,6837.50,167.00,12.00,256000.00,22950468.00,1532.00,0 days 00:12:55,11.0,62.00,2161.00
75%,25663.75,626.00,52.00,809000.00,63094287.00,1758.00,0 days 00:47:25.750000,20.0,82.25,2993.25
max,3291420.00,65474.00,4269.00,1060000.00,86329667.00,1857.00,0 days 11:59:53,44.0,109.00,5000.00

In [52]:
df.query('view_count <= 100000 & view_count >= 50000').count()

video_id                  582
channel_id                582
title                     582
description               582
tags                      582
caption                   582
licensed_content          582
view_count                582
like_count                582
comment_count             582
channel_name              582
subscribers               582
total_views               582
total_videos              582
playlist_id               582
category                  582
duration_formatted        582
published_at_formatted    582
no_of_tags                582
title_length              582
description_length        582
dtype: int64

In [53]:
df_one_month_ago = df[df['published_at_formatted'] >= one_month_ago]

In [54]:
df_one_month_ago.describe().round(2)

,view_count,like_count,comment_count,subscribers,total_views,total_videos,duration_formatted,no_of_tags,title_length,description_length
count,96.00,96.00,96.00,96.00,96.00,96.00,96,96.00,96.00,96.00
mean,8506.03,285.89,21.86,361356.25,31301608.78,985.66,0 days 00:32:30.291666666,9.79,65.17,1754.38
std,14680.18,489.82,32.18,329062.73,29901710.09,725.20,0 days 00:40:07.872185437,9.08,22.28,843.24
min,4.00,0.00,0.00,29300.00,1588707.00,58.00,0 days 00:01:50,0.00,20.00,0.00
25%,310.50,10.00,0.75,106000.00,5737808.00,270.00,0 days 00:08:22.750000,0.00,48.00,1106.50
50%,1026.00,37.00,4.00,155000.00,22950468.00,1532.00,0 days 00:17:41,7.00,65.00,1770.50
75%,11008.00,398.25,37.25,809000.00,63094287.00,1758.00,0 days 00:49:16,17.00,83.50,2373.00
max,68240.00,3289.00,131.00,1060000.00,86329667.00,1857.00,0 days 04:34:24,38.00,100.00,4434.00