# Importing Libraries

In [60]:
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns
import pickle
from datetime import timedelta
import datetime
import os
from dotenv import load_dotenv

# Importing Data

In [3]:
with open('new_raw_data.pkl', 'rb') as file:
    df = pickle.load(file)

# Establish YoutTube Link

In [6]:
load_dotenv()

api_key = os.getenv('API_KEY')

youtube = build('youtube', 'v3', developerKey=api_key)

# Null Check

In [7]:
df.isnull().sum()

video_id               0
channel_id             0
published_at           0
title                  0
description            0
tags                   0
category_id            0
duration               0
caption                0
licensed_content       0
default_language    7444
content_rating         0
view_count             0
like_count            10
favourite_count        0
comment_count         11
channel_name           0
subscribers            0
total_views            0
total_videos           0
playlist_id            0
dtype: int64

In [16]:
df.query('like_count.isnull()')

,video_id,channel_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,...,content_rating,view_count,like_count,favourite_count,comment_count,channel_name,subscribers,total_views,total_videos,playlist_id
188,TSLpULOGkh0,UCteRPiisgIoHtMgqHegpWAQ,2023-02-20T16:25:27Z,How I write SQL FAST with AI (not ChatGPT)? | ...,,[],28,PT17S,false,True,...,{},24805,None,0,24,Sundas Khalid,185000,9376789,116,UUteRPiisgIoHtMgqHegpWAQ
189,poUZXmNQQws,UCteRPiisgIoHtMgqHegpWAQ,2023-02-13T00:26:51Z,Learn Python for Data Analysis #shorts,#python #dataanlytics,[],28,PT16S,false,True,...,{},10616,None,0,11,Sundas Khalid,185000,9376789,116,UUteRPiisgIoHtMgqHegpWAQ
196,sydQQCS5qLM,UCteRPiisgIoHtMgqHegpWAQ,2022-12-16T19:44:53Z,Tech Salaries: I wish this was taught in school,,[],28,PT16S,false,True,...,{},18562,None,0,23,Sundas Khalid,185000,9376789,116,UUteRPiisgIoHtMgqHegpWAQ
199,FeZ6q064mZc,UCteRPiisgIoHtMgqHegpWAQ,2022-12-04T19:40:55Z,Product Managers: is this true?,,[],28,PT9S,false,True,...,{},45952,None,0,31,Sundas Khalid,185000,9376789,116,UUteRPiisgIoHtMgqHegpWAQ
202,o3DU3iWXTP0,UCteRPiisgIoHtMgqHegpWAQ,2022-11-12T00:54:57Z,How I would learn data science fast?,Link to book: Practical Statistics For Data Sc...,[],28,PT31S,false,True,...,{},193258,None,0,102,Sundas Khalid,185000,9376789,116,UUteRPiisgIoHtMgqHegpWAQ
204,UGzOFORVn4k,UCteRPiisgIoHtMgqHegpWAQ,2022-10-27T04:41:59Z,The Reality of Big Tech Perks #shorts,,[],28,PT56S,false,True,...,{},11501,None,0,13,Sundas Khalid,185000,9376789,116,UUteRPiisgIoHtMgqHegpWAQ
205,kDYVQb91vt4,UCteRPiisgIoHtMgqHegpWAQ,2022-10-22T16:57:08Z,Data Analysts vs Data Scientist: True Story? #...,,[],28,PT9S,false,True,...,{},88825,None,0,63,Sundas Khalid,185000,9376789,116,UUteRPiisgIoHtMgqHegpWAQ
207,LAmVx1GIb-s,UCteRPiisgIoHtMgqHegpWAQ,2022-10-21T03:46:15Z,Tech interviews are hard #shorts,,"[Tech interviews, Coding interviews, FAANG int...",28,PT1M,false,True,...,{},16319,None,0,28,Sundas Khalid,185000,9376789,116,UUteRPiisgIoHtMgqHegpWAQ
3792,3s_6sV01giw,UCPvDKIsrjA_h3g5yZJwCIHA,2020-08-25T03:48:48Z,Python tutorial | Floating point limitations |...,#pythontutorial #floatlimitations\nIn this lec...,"[python float precision, python float decimal ...",27,PT14M4S,false,True,...,{},321,None,0,2,Tech Classes,30000,1954008,156,UUPvDKIsrjA_h3g5yZJwCIHA
4493,qBTMU9PjG6A,UCzL_0nIe8B4-7ShhVPfJkgw,2023-07-13T07:25:40Z,Build Agents Simply with OpenAI and LangChain ...,"In this session, we'll build a chatbot that no...","[openai, langchain, langchain tools, machine l...",27,PT1H5M2S,true,False,...,{},956,None,0,2,Data Science Dojo,101000,5737808,455,UUzL_0nIe8B4-7ShhVPfJkgw

In [17]:
df.query('comment_count.isnull()')

,video_id,channel_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,...,content_rating,view_count,like_count,favourite_count,comment_count,channel_name,subscribers,total_views,total_videos,playlist_id
1473,sjq1OhMzSSU,UCNU_lfiiWBdtULKOw6X0Dig,2021-01-05T15:22:58Z,Live Virtual Mock Interview For Data Science F...,Nilesh linkedin Id: https://www.linkedin.com/i...,[],24,PT1H4M31S,false,True,...,{},31474,822,0,None,Krish Naik,851000,86329667,1758,UUNU_lfiiWBdtULKOw6X0Dig
2756,lurk94u6_KQ,UCJublDh2UsiIKsAE1553miw,2023-02-03T01:17:52Z,What is Natural Language Processing (NLP)? #sh...,"-- -- Natural Language Processing, NLP, Sentim...","[Machine Learning, Data Science, Python, Deep ...",27,PT35S,false,True,...,{},1732,110,0,None,Greg Hogg,61900,4258081,576,UUJublDh2UsiIKsAE1553miw
2769,9oj8r7U0Ekw,UCJublDh2UsiIKsAE1553miw,2023-01-11T21:18:47Z,Is TensorFlow or PyTorch better for deep learn...,-- -- (Links on this page my give me a small c...,"[Machine Learning, Data Science, Python, Deep ...",27,PT1M,true,True,...,{},41077,1737,0,None,Greg Hogg,61900,4258081,576,UUJublDh2UsiIKsAE1553miw
2879,zWNWMfQQfJQ,UCJublDh2UsiIKsAE1553miw,2022-05-08T15:20:20Z,Google Deepmind's AI is over 5 years old... bu...,-- -- (Links on this page my give me a small c...,"[Machine Learning, Data Science, Python, Deep ...",28,PT15S,false,True,...,{},5555,135,0,None,Greg Hogg,61900,4258081,576,UUJublDh2UsiIKsAE1553miw
3745,alQKkkyuDjA,UCPvDKIsrjA_h3g5yZJwCIHA,2021-04-29T12:59:25Z,Working with Big Data | Google File System | A...,"For notes, you can join gold membership.\n\nIn...","[big data analytics, big data, big data analyt...",27,PT8M47S,false,True,...,{},25130,364,0,None,Tech Classes,30000,1954008,156,UUPvDKIsrjA_h3g5yZJwCIHA
6425,6uY1KCeLWMY,UC79Gv3mYp6zKiSwYemEik9A,2019-03-07T15:31:01Z,DataCamp for Business,"Close the talent gap. Join more than 1,200 com...","[datacamp, business, data science, data visual...",27,PT35S,false,False,...,{},493940,46,0,None,DataCamp,155000,22950468,1532,UU79Gv3mYp6zKiSwYemEik9A
7864,TIDaLrcQzs4,UCObs0kLIrDjX2LLSybqNaEA,2021-03-22T13:34:47Z,Analytics Interview Questions | How to Crack A...,➤ Skip Intro: 0:01:18\n\nLooking for a career...,"[Great Learning, Great Lakes, Data Analytics, ...",27,PT5H25M10S,false,False,...,{},1517,72,0,None,Great Learning,809000,63094287,1857,UUObs0kLIrDjX2LLSybqNaEA
8007,ZMGCzGhIwf0,UCObs0kLIrDjX2LLSybqNaEA,2021-01-19T07:33:17Z,Introduction to SQL | SQL Tutorial for Beginne...,🔥1000+ Free Courses With Free Certificates: ht...,"[Great Learning, Great Lakes, Data Analytics, ...",27,PT59M26S,false,False,...,{},9559,284,0,None,Great Learning,809000,63094287,1857,UUObs0kLIrDjX2LLSybqNaEA
8011,zchbiQSAL3o,UCObs0kLIrDjX2LLSybqNaEA,2021-01-16T12:00:12Z,Natural Language Processing Interview Question...,🔥1000+ Free Courses With Free Certificates: ht...,"[NLP Interview Questions, NLP Interview, Natur...",27,PT1H26M41S,false,False,...,{},11602,230,0,None,Great Learning,809000,63094287,1857,UUObs0kLIrDjX2LLSybqNaEA
8222,ukktPIhvXJg,UCObs0kLIrDjX2LLSybqNaEA,2020-10-06T11:33:36Z,Getting started with Machine Learning | Python...,🔥1000+ Free Courses With Free Certificates: ht...,"[machine learning with python, python for mach...",27,PT1H,false,False,...,{},3896,144,0,None,Great Learning,809000,63094287,1857,UUObs0kLIrDjX2LLSybqNaEA
8610,Bqw99eML13I,UCObs0kLIrDjX2LLSybqNaEA,2019-10-23T08:48:08Z,This Diwali Give Your Career A #NewBeginning |...,We all had childhood dreams. Many of us likely...,"[Great Learning, Great Lakes, Data Analytics, ...",27,PT1M1S,false,False,...,{},586,9,0,None,Great Learning,809000,63094287,1857,UUObs0kLIrDjX2LLSybqNaEA

In [19]:
df.default_language.value_counts()

en       1209
en-US     526
en-IN     142
en-CA       1
Name: default_language, dtype: int64

### *Null Findings*:

* default language - has not been filled in by some creators, will be dropped as not enough have valid values, only different types of english no other languages
* like count - ten nulls that are actually just 0, will be filled with 0
* comment count - eleven nulls that are actually just 0, will be filled with 0

In [21]:
df.like_count.fillna(0, inplace=True)

In [23]:
df.comment_count.fillna(0, inplace=True)

In [24]:
df.drop(columns='default_language', inplace=True)

In [25]:
df.isnull().sum()

video_id            0
channel_id          0
published_at        0
title               0
description         0
tags                0
category_id         0
duration            0
caption             0
licensed_content    0
content_rating      0
view_count          0
like_count          0
favourite_count     0
comment_count       0
channel_name        0
subscribers         0
total_views         0
total_videos        0
playlist_id         0
dtype: int64

#### Dropping favourite count as it is now defunct

In [26]:
df.drop(columns='favourite_count', inplace=True)

In [27]:
df.columns

Index(['video_id', 'channel_id', 'published_at', 'title', 'description',
       'tags', 'category_id', 'duration', 'caption', 'licensed_content',
       'content_rating', 'view_count', 'like_count', 'comment_count',
       'channel_name', 'subscribers', 'total_views', 'total_videos',
       'playlist_id'],
      dtype='object')

# Checking Data Types

In [28]:
df.dtypes

video_id            object
channel_id          object
published_at        object
title               object
description         object
tags                object
category_id         object
duration            object
caption             object
licensed_content      bool
content_rating      object
view_count          object
like_count          object
comment_count       object
channel_name        object
subscribers         object
total_views         object
total_videos        object
playlist_id         object
dtype: object

#### What should our data types be?

* **'video_id'** - object to str as more efficient
* **'channel_id'** - object to str as more efficient
* **'published_at'** - object to datetime64
* **'title'** - object to str as more efficient and better for NLP
* **'description'** - object to str as more efficient and better for NLP
* **'tags'** - no change needed
* **'category_id'** - to be a string after API query
* **'duration'** - object to timedelta
* **'caption'** - object to bool
* **'licensed_content'** - object to bool
* **'content_rating'** - empty string dictionary, to be dropped
* **'view_count'** - object to int for calculations
* **'like_count'** - object to int for calculations
* **'comment_count'** - object to int for calculations
* **'channel_name'** - object to str as more efficient
* **'subscribers'** - object to int for calculations
* **'total_views'** - object to int for calculations
* **'total_videos'** - object to int for calculations
* **'playlist_id'** - object to str as more efficient

## Changing Datatypes

### Object to Str

In [35]:
columns_to_str = ['video_id', 'channel_id', 'title', 'description', 'channel_name', 'playlist_id']

In [39]:
for column in columns_to_str:
    df[column] = df[column].astype('string')

### Object to Int

In [42]:
columns_to_int = ['view_count', 'like_count', 'comment_count', 'subscribers', 'total_views', 'total_videos']

In [45]:
for column in columns_to_int:
    df[column] = df[column].astype('int64')

### YouTube Categories

In [48]:
def get_categories(youtube, wanted_categories):

    all_data = []
    
    request = youtube.videoCategories().list(part='snippet', id=','.join(wanted_categories))
    
    response = request.execute()
    
    for i in range(len(response['items'])):
        data = dict(category_id = response['items'][i]['id'],
                category= response['items'][i]['snippet']['title'])
        all_data.append(data)

    return all_data

In [49]:
df['category_id'] = df['category_id'].astype('str')

In [51]:
category_ids = df['category_id'].unique()
print(category_ids)

['27' '24' '28' '22' '2' '1' '10' '26' '20' '19' '17' '23']

In [52]:
category_dict = get_categories(youtube, category_ids)
print(category_dict)

[{'category_id': '1', 'category': 'Film & Animation'}, {'category_id': '2', 'category': 'Autos & Vehicles'}, {'category_id': '10', 'category': 'Music'}, {'category_id': '17', 'category': 'Sports'}, {'category_id': '19', 'category': 'Travel & Events'}, {'category_id': '20', 'category': 'Gaming'}, {'category_id': '22', 'category': 'People & Blogs'}, {'category_id': '23', 'category': 'Comedy'}, {'category_id': '24', 'category': 'Entertainment'}, {'category_id': '26', 'category': 'Howto & Style'}, {'category_id': '27', 'category': 'Education'}, {'category_id': '28', 'category': 'Science & Technology'}]

In [53]:
category_df = pd.DataFrame(category_dict)
category_df

   category_id              category
0            1      Film & Animation
1            2      Autos & Vehicles
2           10                 Music
3           17                Sports
4           19       Travel & Events
5           20                Gaming
6           22        People & Blogs
7           23                Comedy
8           24         Entertainment
9           26         Howto & Style
10          27             Education
11          28  Science & Technology

In [54]:
df = pd.merge(df, category_df, on='category_id', how='left')

### Extracting Duration

#### Stripping of the 'PT' from begining of duration values

In [57]:
df['duration'] = df['duration'].str.replace('PT', '')

#### Function to reformat the duration

In [58]:
def format_duration(time_string):

    # store hours, minutes, seconds as integers
    H = 0
    M = 0
    S = 0

    # check if vid time contains hours, minutes and/or seconds
    if 'H' in time_string:
        H += int(time_string.split('H')[0])
    if 'M' in time_string:
        M += int(time_string.split('M')[0].split('H')[-1])
    if 'S' in time_string:
        S += int(time_string.split('S')[0].split('M')[-1].split('H')[-1])
    
    formatted_time = timedelta(hours=H, minutes=M, seconds=S)

    return formatted_time

#### Applying to DataFrame

In [61]:
df['duration_formatted'] = df['duration'].apply(format_duration)

### Published Data Format to Datetime

In [62]:
df['published_at_formatted'] = df['published_at'].str.replace('Z','')

# format published date column to datetime
df['published_at_formatted'] = df.published_at_formatted.apply(datetime.datetime.fromisoformat)

### Object to bool

In [70]:
columns_to_bool = ['caption', 'licensed_content']

for column in columns_to_bool:
    df[column] = df[column].astype('bool')

# Column Creation

### Number of Tags column creation

In [68]:
# create column of unique tag count for each video
df['no_of_tags'] = df['tags'].apply(lambda x: len(set(x)))

### Title Length

In [72]:
df['title_length'] = df['title'].apply(len)

### Description Length

In [73]:
df['description_length'] = df['description'].apply(len)

# Final Column Dropping

In [74]:
df.dtypes

video_id                           string
channel_id                         string
published_at                       object
title                              string
description                        string
tags                               object
category_id                        object
duration                           object
caption                              bool
licensed_content                     bool
content_rating                     object
view_count                          int64
like_count                          int64
comment_count                       int64
channel_name                       string
subscribers                         int64
total_views                         int64
total_videos                        int64
playlist_id                        string
category                           object
duration_formatted        timedelta64[ns]
published_at_formatted     datetime64[ns]
no_of_tags                          int64
title_length                        int64
description_length                  int64
dtype: object

In [75]:
columns_to_drop = ['published_at', 'category_id', 'duration', 'content_rating']

In [77]:
df.drop(columns=columns_to_drop, inplace=True)

# Saving Clean Dataframe

In [80]:
with open('new_clean_data.pkl', 'wb') as file:
    pickle.dump(df, file)

In [81]:
df.head()

,video_id,channel_id,title,description,tags,caption,licensed_content,view_count,like_count,comment_count,...,subscribers,total_views,total_videos,playlist_id,category,duration_formatted,published_at_formatted,no_of_tags,title_length,description_length
0,3fqTNzXY5tg,UCvZnwzmc3m1Eush-Or8Z6DA,Using Code and GPT-3 to Learn Faster,Thanks to ProjectPro.io for their support: htt...,[],True,True,6871,184,23,...,140000,6562136,152,UUvZnwzmc3m1Eush-Or8Z6DA,Education,0 days 00:18:06,2023-02-19 14:00:02,0,36,795
1,bgVu5WVR9SE,UCvZnwzmc3m1Eush-Or8Z6DA,Data Analyst MENTORSHIP - Q&A (while I drink ...,⬇️⬇️⬇️Check here prior to asking your question...,[],True,True,3723,184,9,...,140000,6562136,152,UUvZnwzmc3m1Eush-Or8Z6DA,Education,0 days 00:29:22,2022-11-04 03:32:38,0,53,1475
2,4we3smhjAB8,UCvZnwzmc3m1Eush-Or8Z6DA,How Data Science ACTUALLY Works,Check out Deepnote for the easiest way to prac...,[],True,True,85152,2647,136,...,140000,6562136,152,UUvZnwzmc3m1Eush-Or8Z6DA,Education,0 days 00:26:50,2022-11-01 16:30:09,0,31,1205
3,lpF5SSgczeE,UCvZnwzmc3m1Eush-Or8Z6DA,Does Instagram think you live in an influentia...,Request this and many other datasets @: https:...,[],True,True,4470,158,12,...,140000,6562136,152,UUvZnwzmc3m1Eush-Or8Z6DA,Education,0 days 01:24:08,2022-10-25 14:00:07,0,81,1059
4,cRVM-LTe3fI,UCvZnwzmc3m1Eush-Or8Z6DA,Data Analyst MENTORSHIP - Q&A (while I drink ...,⬇️⬇️⬇️Check here prior to asking your question...,[],True,True,3078,104,4,...,140000,6562136,152,UUvZnwzmc3m1Eush-Or8Z6DA,Education,0 days 00:26:55,2022-10-07 03:36:26,0,53,1475