# Importing Libraries

In [2]:
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns
from datetime import timedelta
import datetime

# Establishing Youtube Link

In [2]:
api_key = 'AIzaSyBAobEQD70yA3gEWGjeZxGfyvvlwvMDsr8'

youtube = build('youtube', 'v3', developerKey=api_key)

# Importing Raw Data File

In [3]:
df = pd.read_csv('raw_df.csv')
df.head()

,channel_id,video_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,...,content_rating,view_count,like_count,favourite_count,comment_count,channel_name,subscribers,total_views,total_videos,playlist_id
0,UCiT9RITQ9PW6BhXK0y2jaeg,L5Cis5bOwgw,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,PT12M38S,False,True,...,{},1521,75.0,0,22.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg
1,UCiT9RITQ9PW6BhXK0y2jaeg,M1I5HlzQges,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,PT7M9S,False,True,...,{},5386,365.0,0,73.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg
2,UCiT9RITQ9PW6BhXK0y2jaeg,T_-0l0ORi5I,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","['Data Science', 'Ken Jee', 'data scientist', ...",28,PT9M56S,False,True,...,{},16112,529.0,0,64.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg
3,UCiT9RITQ9PW6BhXK0y2jaeg,w13zJB_jyBI,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"['Data Science', 'Ken Jee', 'data scientist', ...",28,PT6M43S,False,True,...,{},104975,2554.0,0,292.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg
4,UCiT9RITQ9PW6BhXK0y2jaeg,oZ9rMrqyTbI,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","['Data Science', 'Ken Jee', 'Machine Learning'...",28,PT10M44S,False,True,...,{},5753,235.0,0,41.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg

# Null Check

In [4]:
df.isnull().sum()

channel_id             0
video_id               0
published_at           0
title                  0
description          157
tags                   0
category_id            0
duration               0
caption                0
licensed_content       0
default_language    8631
content_rating         0
view_count             0
like_count            11
favourite_count        0
comment_count         98
channel_name           0
subscribers            0
total_views            0
total_videos           0
playlist_id            0
dtype: int64

#### Filling Description Nulls

In [5]:
df['description'].fillna('No Description', inplace=True)

#### Filling like_count Nulls

In [6]:
df['like_count'].fillna(0, inplace=True)

#### Filling Comment Nulls

In [7]:
df['comment_count'].fillna(0, inplace=True)

#### Filling default language nulls

In [8]:
df['default_language'].fillna('None', inplace=True)

#### Final Check

In [9]:
df.isnull().sum()

channel_id          0
video_id            0
published_at        0
title               0
description         0
tags                0
category_id         0
duration            0
caption             0
licensed_content    0
default_language    0
content_rating      0
view_count          0
like_count          0
favourite_count     0
comment_count       0
channel_name        0
subscribers         0
total_views         0
total_videos        0
playlist_id         0
dtype: int64

# Youtube Categories

In [10]:
def get_categories(youtube, wanted_categories):

    all_data = []
    
    request = youtube.videoCategories().list(part='snippet', id=','.join(wanted_categories))
    
    response = request.execute()
    
    for i in range(len(response['items'])):
        data = dict(category_id = response['items'][i]['id'],
                category= response['items'][i]['snippet']['title'])
        all_data.append(data)

    return all_data

In [11]:
df['category_id'] = df['category_id'].astype('str')

In [12]:
df.dtypes

channel_id           object
video_id             object
published_at         object
title                object
description          object
tags                 object
category_id          object
duration             object
caption                bool
licensed_content       bool
default_language     object
content_rating       object
view_count            int64
like_count          float64
favourite_count       int64
comment_count       float64
channel_name         object
subscribers           int64
total_views           int64
total_videos          int64
playlist_id          object
dtype: object

In [13]:
category_ids = df['category_id'].unique()
print(category_ids)

['28' '22' '27' '17' '23' '24' '19' '2' '1' '20' '26' '10']

In [14]:
category_dict = get_categories(youtube, category_ids)
print(category_dict)

[{'category_id': '1', 'category': 'Film & Animation'}, {'category_id': '2', 'category': 'Autos & Vehicles'}, {'category_id': '10', 'category': 'Music'}, {'category_id': '17', 'category': 'Sports'}, {'category_id': '19', 'category': 'Travel & Events'}, {'category_id': '20', 'category': 'Gaming'}, {'category_id': '22', 'category': 'People & Blogs'}, {'category_id': '23', 'category': 'Comedy'}, {'category_id': '24', 'category': 'Entertainment'}, {'category_id': '26', 'category': 'Howto & Style'}, {'category_id': '27', 'category': 'Education'}, {'category_id': '28', 'category': 'Science & Technology'}]

In [15]:
category_df = pd.DataFrame(category_dict)
category_df

   category_id              category
0            1      Film & Animation
1            2      Autos & Vehicles
2           10                 Music
3           17                Sports
4           19       Travel & Events
5           20                Gaming
6           22        People & Blogs
7           23                Comedy
8           24         Entertainment
9           26         Howto & Style
10          27             Education
11          28  Science & Technology

In [16]:
df = pd.merge(df, category_df, on='category_id', how='left')
df

,channel_id,video_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,...,view_count,like_count,favourite_count,comment_count,channel_name,subscribers,total_views,total_videos,playlist_id,category
0,UCiT9RITQ9PW6BhXK0y2jaeg,L5Cis5bOwgw,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,PT12M38S,False,True,...,1521,75.0,0,22.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology
1,UCiT9RITQ9PW6BhXK0y2jaeg,M1I5HlzQges,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,PT7M9S,False,True,...,5386,365.0,0,73.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology
2,UCiT9RITQ9PW6BhXK0y2jaeg,T_-0l0ORi5I,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","['Data Science', 'Ken Jee', 'data scientist', ...",28,PT9M56S,False,True,...,16112,529.0,0,64.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology
3,UCiT9RITQ9PW6BhXK0y2jaeg,w13zJB_jyBI,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"['Data Science', 'Ken Jee', 'data scientist', ...",28,PT6M43S,False,True,...,104975,2554.0,0,292.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology
4,UCiT9RITQ9PW6BhXK0y2jaeg,oZ9rMrqyTbI,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","['Data Science', 'Ken Jee', 'Machine Learning'...",28,PT10M44S,False,True,...,5753,235.0,0,41.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10771,UCb5aI-GwJm3ZxlwtCsLu78Q,khKT1RMe_Fk,2020-07-02T00:56:33Z,11 YouTube Channels Every Data Scientist Shoul...,🔔 *Subscribe for weekly R videos:* https://www...,[],28,PT5M44S,False,False,...,11907,438.0,0,36.0,Tom Henry - data science with R,3760,191499,16,UUb5aI-GwJm3ZxlwtCsLu78Q,Science & Technology
10772,UCb5aI-GwJm3ZxlwtCsLu78Q,ae_XVhjHd_o,2020-06-30T08:21:17Z,Text analysis / mining in R - how to plot word...,🔔 *Subscribe for weekly R videos:* https://www...,"['datascience', 'tidytext', 'tidyverse', 'ggra...",28,PT25M38S,False,False,...,27396,627.0,0,61.0,Tom Henry - data science with R,3760,191499,16,UUb5aI-GwJm3ZxlwtCsLu78Q,Science & Technology
10773,UCb5aI-GwJm3ZxlwtCsLu78Q,V-EssPrGPHg,2020-06-24T05:08:39Z,Discover 7 Hidden Gems in the R Package Ecosystem,🔔 *Subscribe for weekly R videos:* https://www...,[],28,PT20M18S,False,False,...,11757,484.0,0,49.0,Tom Henry - data science with R,3760,191499,16,UUb5aI-GwJm3ZxlwtCsLu78Q,Science & Technology
10774,UCb5aI-GwJm3ZxlwtCsLu78Q,KiqPS6du3B4,2020-06-20T01:29:43Z,Clean column names in R with clean_names(),🔔 *Subscribe for weekly R videos:* https://www...,"['datascience', 'rstats']",28,PT3M16S,False,False,...,4562,116.0,0,11.0,Tom Henry - data science with R,3760,191499,16,UUb5aI-GwJm3ZxlwtCsLu78Q,Science & Technology
10775,UCb5aI-GwJm3ZxlwtCsLu78Q,QMovh2PPhbg,2020-05-29T00:42:17Z,How to plot a time series in R with ggplot2 in...,🧰 Data science projects & consulting - https:/...,"['ggplot2', 'timeseries', 'datascience', 'data...",22,PT11M44S,False,False,...,5689,57.0,0,9.0,Tom Henry - data science with R,3760,191499,16,UUb5aI-GwJm3ZxlwtCsLu78Q,People & Blogs

# Extracting Duration

#### Stripping of the 'PT' from begining of duration values

In [17]:
df['duration'] = df['duration'].str.replace('PT', '')

#### Function to reformat the duration

In [18]:
def format_duration(time_string):

    # store hours, minutes, seconds as integers
    H = 0
    M = 0
    S = 0

    # check if vid time contains hours, minutes and/or seconds
    if 'H' in time_string:
        H += int(time_string.split('H')[0])
    if 'M' in time_string:
        M += int(time_string.split('M')[0].split('H')[-1])
    if 'S' in time_string:
        S += int(time_string.split('S')[0].split('M')[-1].split('H')[-1])
    
    formatted_time = timedelta(hours=H, minutes=M, seconds=S)

    return formatted_time

#### Applying to dataframe

In [19]:
df['duration_formatted'] = df['duration'].apply(format_duration)
df

,channel_id,video_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,...,like_count,favourite_count,comment_count,channel_name,subscribers,total_views,total_videos,playlist_id,category,duration_formatted
0,UCiT9RITQ9PW6BhXK0y2jaeg,L5Cis5bOwgw,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,12M38S,False,True,...,75.0,0,22.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:12:38
1,UCiT9RITQ9PW6BhXK0y2jaeg,M1I5HlzQges,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,7M9S,False,True,...,365.0,0,73.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:07:09
2,UCiT9RITQ9PW6BhXK0y2jaeg,T_-0l0ORi5I,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","['Data Science', 'Ken Jee', 'data scientist', ...",28,9M56S,False,True,...,529.0,0,64.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:09:56
3,UCiT9RITQ9PW6BhXK0y2jaeg,w13zJB_jyBI,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"['Data Science', 'Ken Jee', 'data scientist', ...",28,6M43S,False,True,...,2554.0,0,292.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:06:43
4,UCiT9RITQ9PW6BhXK0y2jaeg,oZ9rMrqyTbI,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","['Data Science', 'Ken Jee', 'Machine Learning'...",28,10M44S,False,True,...,235.0,0,41.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:10:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10771,UCb5aI-GwJm3ZxlwtCsLu78Q,khKT1RMe_Fk,2020-07-02T00:56:33Z,11 YouTube Channels Every Data Scientist Shoul...,🔔 *Subscribe for weekly R videos:* https://www...,[],28,5M44S,False,False,...,438.0,0,36.0,Tom Henry - data science with R,3760,191499,16,UUb5aI-GwJm3ZxlwtCsLu78Q,Science & Technology,0 days 00:05:44
10772,UCb5aI-GwJm3ZxlwtCsLu78Q,ae_XVhjHd_o,2020-06-30T08:21:17Z,Text analysis / mining in R - how to plot word...,🔔 *Subscribe for weekly R videos:* https://www...,"['datascience', 'tidytext', 'tidyverse', 'ggra...",28,25M38S,False,False,...,627.0,0,61.0,Tom Henry - data science with R,3760,191499,16,UUb5aI-GwJm3ZxlwtCsLu78Q,Science & Technology,0 days 00:25:38
10773,UCb5aI-GwJm3ZxlwtCsLu78Q,V-EssPrGPHg,2020-06-24T05:08:39Z,Discover 7 Hidden Gems in the R Package Ecosystem,🔔 *Subscribe for weekly R videos:* https://www...,[],28,20M18S,False,False,...,484.0,0,49.0,Tom Henry - data science with R,3760,191499,16,UUb5aI-GwJm3ZxlwtCsLu78Q,Science & Technology,0 days 00:20:18
10774,UCb5aI-GwJm3ZxlwtCsLu78Q,KiqPS6du3B4,2020-06-20T01:29:43Z,Clean column names in R with clean_names(),🔔 *Subscribe for weekly R videos:* https://www...,"['datascience', 'rstats']",28,3M16S,False,False,...,116.0,0,11.0,Tom Henry - data science with R,3760,191499,16,UUb5aI-GwJm3ZxlwtCsLu78Q,Science & Technology,0 days 00:03:16
10775,UCb5aI-GwJm3ZxlwtCsLu78Q,QMovh2PPhbg,2020-05-29T00:42:17Z,How to plot a time series in R with ggplot2 in...,🧰 Data science projects & consulting - https:/...,"['ggplot2', 'timeseries', 'datascience', 'data...",22,11M44S,False,False,...,57.0,0,9.0,Tom Henry - data science with R,3760,191499,16,UUb5aI-GwJm3ZxlwtCsLu78Q,People & Blogs,0 days 00:11:44

# Published Date Format

In [20]:
df['published_at_formatted'] = df['published_at'].str.replace('Z','')

# format published date column to datetime
df['published_at_formatted'] = df.published_at_formatted.apply(datetime.datetime.fromisoformat)

# Like Ratio Column

In [21]:
df['like_ratio'] = (df['like_count'] / df['view_count'])
df.head()

,channel_id,video_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,...,comment_count,channel_name,subscribers,total_views,total_videos,playlist_id,category,duration_formatted,published_at_formatted,like_ratio
0,UCiT9RITQ9PW6BhXK0y2jaeg,L5Cis5bOwgw,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,12M38S,False,True,...,22.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:12:38,2023-11-17 12:00:28,0.049310
1,UCiT9RITQ9PW6BhXK0y2jaeg,M1I5HlzQges,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,7M9S,False,True,...,73.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:07:09,2023-09-22 11:46:35,0.067768
2,UCiT9RITQ9PW6BhXK0y2jaeg,T_-0l0ORi5I,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","['Data Science', 'Ken Jee', 'data scientist', ...",28,9M56S,False,True,...,64.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:09:56,2023-09-05 10:50:39,0.032833
3,UCiT9RITQ9PW6BhXK0y2jaeg,w13zJB_jyBI,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"['Data Science', 'Ken Jee', 'data scientist', ...",28,6M43S,False,True,...,292.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:06:43,2023-08-24 11:30:19,0.024330
4,UCiT9RITQ9PW6BhXK0y2jaeg,oZ9rMrqyTbI,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","['Data Science', 'Ken Jee', 'Machine Learning'...",28,10M44S,False,True,...,41.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:10:44,2023-08-14 11:30:19,0.040848

# Comment Ratio

In [22]:
df['comment_ratio'] = (df['comment_count'] / df['view_count'])
df.head()

,channel_id,video_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,...,channel_name,subscribers,total_views,total_videos,playlist_id,category,duration_formatted,published_at_formatted,like_ratio,comment_ratio
0,UCiT9RITQ9PW6BhXK0y2jaeg,L5Cis5bOwgw,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,12M38S,False,True,...,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:12:38,2023-11-17 12:00:28,0.049310,0.014464
1,UCiT9RITQ9PW6BhXK0y2jaeg,M1I5HlzQges,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,7M9S,False,True,...,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:07:09,2023-09-22 11:46:35,0.067768,0.013554
2,UCiT9RITQ9PW6BhXK0y2jaeg,T_-0l0ORi5I,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","['Data Science', 'Ken Jee', 'data scientist', ...",28,9M56S,False,True,...,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:09:56,2023-09-05 10:50:39,0.032833,0.003972
3,UCiT9RITQ9PW6BhXK0y2jaeg,w13zJB_jyBI,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"['Data Science', 'Ken Jee', 'data scientist', ...",28,6M43S,False,True,...,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:06:43,2023-08-24 11:30:19,0.024330,0.002782
4,UCiT9RITQ9PW6BhXK0y2jaeg,oZ9rMrqyTbI,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","['Data Science', 'Ken Jee', 'Machine Learning'...",28,10M44S,False,True,...,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:10:44,2023-08-14 11:30:19,0.040848,0.007127

# Favourite Ratio

In [23]:
df['favourite_ratio'] = (df['favourite_count'] / df['view_count'])
df.head()

,channel_id,video_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,...,subscribers,total_views,total_videos,playlist_id,category,duration_formatted,published_at_formatted,like_ratio,comment_ratio,favourite_ratio
0,UCiT9RITQ9PW6BhXK0y2jaeg,L5Cis5bOwgw,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,12M38S,False,True,...,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:12:38,2023-11-17 12:00:28,0.049310,0.014464,0.0
1,UCiT9RITQ9PW6BhXK0y2jaeg,M1I5HlzQges,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,7M9S,False,True,...,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:07:09,2023-09-22 11:46:35,0.067768,0.013554,0.0
2,UCiT9RITQ9PW6BhXK0y2jaeg,T_-0l0ORi5I,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","['Data Science', 'Ken Jee', 'data scientist', ...",28,9M56S,False,True,...,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:09:56,2023-09-05 10:50:39,0.032833,0.003972,0.0
3,UCiT9RITQ9PW6BhXK0y2jaeg,w13zJB_jyBI,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"['Data Science', 'Ken Jee', 'data scientist', ...",28,6M43S,False,True,...,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:06:43,2023-08-24 11:30:19,0.024330,0.002782,0.0
4,UCiT9RITQ9PW6BhXK0y2jaeg,oZ9rMrqyTbI,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","['Data Science', 'Ken Jee', 'Machine Learning'...",28,10M44S,False,True,...,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:10:44,2023-08-14 11:30:19,0.040848,0.007127,0.0

#### Sorting nulls from ratio calculations

In [24]:
df['like_ratio'].fillna(0, inplace=True)
df['favourite_ratio'].fillna(0, inplace=True)
df['comment_ratio'].fillna(0, inplace=True)

#### Null Check

In [25]:
df.isnull().sum()

channel_id                0
video_id                  0
published_at              0
title                     0
description               0
tags                      0
category_id               0
duration                  0
caption                   0
licensed_content          0
default_language          0
content_rating            0
view_count                0
like_count                0
favourite_count           0
comment_count             0
channel_name              0
subscribers               0
total_views               0
total_videos              0
playlist_id               0
category                  0
duration_formatted        0
published_at_formatted    0
like_ratio                0
comment_ratio             0
favourite_ratio           0
dtype: int64

# Tags Formatting

In [26]:
# convert tags dtype to list
df['tags_formatted'] = df['tags'].apply(lambda x: eval(x))

# create column of unique tag count for each video
df['no_of_tags'] = df['tags_formatted'].apply(lambda x: len(set(x)))

# Description Formatting

In [27]:
df['description'][0]

'#datascience  #KenJee \nI gave up on my dream of playing professional golf 10 years ago. Recently, I had the opportunity to relive this through my data science and content work. Through this video, I also had the ability to reflect on how Data and AI are transforming golf while keeping the spirit of the game alive.  Special thanks to SAS for making this possible! \n\nSponsors, Affiliates, and Partners:\n- Pathrise - http://pathrise.com/KenJee | Career mentorship for job applicants (Free till you land a job)\n- Taro - http://jointaro.com/r/kenj308 (20% discount) | Career mentorship if you already have a job \n- 365 Data Science (57% discount) - https://365datascience.pxf.io/P0jbBY | Learn data science today\n- Interview Query (10% discount) - https://www.interviewquery.com/?ref=kenjee |  Interview prep questions\n\nMORE DATA SCIENCE CONTENT HERE:\n🐤My Twitter - https://twitter.com/KenJee_DS\n👔 LinkedIn -  https://www.linkedin.com/in/kenjee/\n📈 Kaggle - https://www.kaggle.com/kenjee\n📑 Medium Articles - https://medium.com/@kenneth.b.jee\n💻 Github - https://github.com/PlayingNumbers\n🏀 My Sports Blog -https://www.playingnumbers.com\n\nCheck These Videos Out Next! \nMy Leaderboard Project: https://www.youtube.com/watch?v=myhoWUrSP7o&ab_channel=KenJee\n66 Days of Data: https://www.youtube.com/watch?v=qV_AlRwhI3I&ab_channel=KenJee\nHow I Would Learn Data Science in 2021: https://www.youtube.com/watch?v=41Clrh6nv1s&ab_channel=KenJee\n\nMy Playlists \nData Science Beginners: https://www.youtube.com/playlist?list=PL2zq7klxX5ATMsmyRazei7ZXkP1GHt-vs\nProject From Scratch: https://www.youtube.com/watch?v=MpF9HENQjDo&list=PL2zq7klxX5ASFejJj80ob9ZAnBHdz5O1t&ab_channel=KenJee\nKaggle Projects: https://www.youtube.com/playlist?list=PL2zq7klxX5AQXzNSLtc_LEKFPh2mAvHIO'

In [28]:
df.loc[[4769]]['description']

4769    Patreon: https://www.patreon.com/shashankkalan...
Name: description, dtype: object

In [29]:
df['description'][4769]

'Patreon: https://www.patreon.com/shashankkalanithi\nClick "Join" below to become a Member (same as the Patreon Membership)\n\nThis is an overview of Chapter 3 of Practical Statistics for Data Scientists. I\'ll be going over the first couple of chapters of this book because the later chapters cover similar materials from my Hands on Machine Learning book overview videos. \n\nFREE Python Course: https://youtu.be/sZDgJKI8DAM\nLink to Book: https://amzn.to/3ufeoYQ\n----------------------------\nMX Master 3 https://amzn.to/3sTroBW\nLG 35in Curved Monitor https://amzn.to/39pPzR3\nUSB-C Hub https://amzn.to/31Ip8Sl\nMacBook Pro Retina 16 Inch https://amzn.to/2PSwZde\n\nTwitter: https://twitter.com/kalamari95\nLinkedIn: https://www.linkedin.com/in/shashankkalanithi/'

In [30]:
df.dtypes

channel_id                         object
video_id                           object
published_at                       object
title                              object
description                        object
tags                               object
category_id                        object
duration                           object
caption                              bool
licensed_content                     bool
default_language                   object
content_rating                     object
view_count                          int64
like_count                        float64
favourite_count                     int64
comment_count                     float64
channel_name                       object
subscribers                         int64
total_views                         int64
total_videos                        int64
playlist_id                        object
category                           object
duration_formatted        timedelta64[ns]
published_at_formatted     datetime64[ns]
like_ratio                        float64
comment_ratio                     float64
favourite_ratio                   float64
tags_formatted                     object
no_of_tags                          int64
dtype: object

In [31]:
df[df['description'].apply(lambda x: isinstance(x, float))]['description'] != 'NaN'

Series([], Name: description, dtype: bool)

# Description Length Column

In [32]:
df['description_length'] = df['description'].apply(len)
df.head()

,channel_id,video_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,...,playlist_id,category,duration_formatted,published_at_formatted,like_ratio,comment_ratio,favourite_ratio,tags_formatted,no_of_tags,description_length
0,UCiT9RITQ9PW6BhXK0y2jaeg,L5Cis5bOwgw,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,12M38S,False,True,...,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:12:38,2023-11-17 12:00:28,0.049310,0.014464,0.0,"[Data Science, Ken Jee, Machine Learning, Spor...",7,1755
1,UCiT9RITQ9PW6BhXK0y2jaeg,M1I5HlzQges,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,7M9S,False,True,...,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:07:09,2023-09-22 11:46:35,0.067768,0.013554,0.0,"[Data Science, Ken Jee, Machine Learning, jobs...",11,1992
2,UCiT9RITQ9PW6BhXK0y2jaeg,T_-0l0ORi5I,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","['Data Science', 'Ken Jee', 'data scientist', ...",28,9M56S,False,True,...,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:09:56,2023-09-05 10:50:39,0.032833,0.003972,0.0,"[Data Science, Ken Jee, data scientist, data s...",14,1699
3,UCiT9RITQ9PW6BhXK0y2jaeg,w13zJB_jyBI,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"['Data Science', 'Ken Jee', 'data scientist', ...",28,6M43S,False,True,...,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:06:43,2023-08-24 11:30:19,0.024330,0.002782,0.0,"[Data Science, Ken Jee, data scientist, data s...",10,2111
4,UCiT9RITQ9PW6BhXK0y2jaeg,oZ9rMrqyTbI,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","['Data Science', 'Ken Jee', 'Machine Learning'...",28,10M44S,False,True,...,UUiT9RITQ9PW6BhXK0y2jaeg,Science & Technology,0 days 00:10:44,2023-08-14 11:30:19,0.040848,0.007127,0.0,"[Data Science, Ken Jee, Machine Learning, ai, ...",19,2867

# Title Formatting

In [33]:
df['title'][0]

'A Data Dream Come True'

# Title length column

In [34]:
df['title_length'] = df['title'].apply(len)
df.head()

,channel_id,video_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,...,category,duration_formatted,published_at_formatted,like_ratio,comment_ratio,favourite_ratio,tags_formatted,no_of_tags,description_length,title_length
0,UCiT9RITQ9PW6BhXK0y2jaeg,L5Cis5bOwgw,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,12M38S,False,True,...,Science & Technology,0 days 00:12:38,2023-11-17 12:00:28,0.049310,0.014464,0.0,"[Data Science, Ken Jee, Machine Learning, Spor...",7,1755,22
1,UCiT9RITQ9PW6BhXK0y2jaeg,M1I5HlzQges,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,7M9S,False,True,...,Science & Technology,0 days 00:07:09,2023-09-22 11:46:35,0.067768,0.013554,0.0,"[Data Science, Ken Jee, Machine Learning, jobs...",11,1992,55
2,UCiT9RITQ9PW6BhXK0y2jaeg,T_-0l0ORi5I,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","['Data Science', 'Ken Jee', 'data scientist', ...",28,9M56S,False,True,...,Science & Technology,0 days 00:09:56,2023-09-05 10:50:39,0.032833,0.003972,0.0,"[Data Science, Ken Jee, data scientist, data s...",14,1699,37
3,UCiT9RITQ9PW6BhXK0y2jaeg,w13zJB_jyBI,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"['Data Science', 'Ken Jee', 'data scientist', ...",28,6M43S,False,True,...,Science & Technology,0 days 00:06:43,2023-08-24 11:30:19,0.024330,0.002782,0.0,"[Data Science, Ken Jee, data scientist, data s...",10,2111,40
4,UCiT9RITQ9PW6BhXK0y2jaeg,oZ9rMrqyTbI,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","['Data Science', 'Ken Jee', 'Machine Learning'...",28,10M44S,False,True,...,Science & Technology,0 days 00:10:44,2023-08-14 11:30:19,0.040848,0.007127,0.0,"[Data Science, Ken Jee, Machine Learning, ai, ...",19,2867,41

In [36]:
df.columns

Index(['channel_id', 'video_id', 'published_at', 'title', 'description',
       'tags', 'category_id', 'duration', 'caption', 'licensed_content',
       'default_language', 'content_rating', 'view_count', 'like_count',
       'favourite_count', 'comment_count', 'channel_name', 'subscribers',
       'total_views', 'total_videos', 'playlist_id', 'category',
       'duration_formatted', 'published_at_formatted', 'like_ratio',
       'comment_ratio', 'favourite_ratio', 'tags_formatted', 'no_of_tags',
       'description_length', 'title_length'],
      dtype='object')

# Exporting the clean data

In [37]:
df.to_pickle('./clean_df.pkl')

In [35]:
df.to_csv('clean_df.csv', index=False)

In [3]:
df = pd.read_csv('raw_df.csv')
df.head()

,channel_id,video_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,...,content_rating,view_count,like_count,favourite_count,comment_count,channel_name,subscribers,total_views,total_videos,playlist_id
0,UCiT9RITQ9PW6BhXK0y2jaeg,L5Cis5bOwgw,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,PT12M38S,False,True,...,{},1521,75.0,0,22.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg
1,UCiT9RITQ9PW6BhXK0y2jaeg,M1I5HlzQges,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"['Data Science', 'Ken Jee', 'Machine Learning'...",28,PT7M9S,False,True,...,{},5386,365.0,0,73.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg
2,UCiT9RITQ9PW6BhXK0y2jaeg,T_-0l0ORi5I,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","['Data Science', 'Ken Jee', 'data scientist', ...",28,PT9M56S,False,True,...,{},16112,529.0,0,64.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg
3,UCiT9RITQ9PW6BhXK0y2jaeg,w13zJB_jyBI,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"['Data Science', 'Ken Jee', 'data scientist', ...",28,PT6M43S,False,True,...,{},104975,2554.0,0,292.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg
4,UCiT9RITQ9PW6BhXK0y2jaeg,oZ9rMrqyTbI,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","['Data Science', 'Ken Jee', 'Machine Learning'...",28,PT10M44S,False,True,...,{},5753,235.0,0,41.0,Ken Jee,254000,8708402,285,UUiT9RITQ9PW6BhXK0y2jaeg

In [4]:
base_list = df['video_id']
base_list

0        L5Cis5bOwgw
1        M1I5HlzQges
2        T_-0l0ORi5I
3        w13zJB_jyBI
4        oZ9rMrqyTbI
            ...
10771    khKT1RMe_Fk
10772    ae_XVhjHd_o
10773    V-EssPrGPHg
10774    KiqPS6du3B4
10775    QMovh2PPhbg
Name: video_id, Length: 10776, dtype: object

In [5]:
base_list.to_pickle('./base_video_id_list.pkl')