# Importing Libraries

In [4]:
from googleapiclient.discovery import build
import pandas as pd
import pickle

# YouTube API Connection

In [18]:
api_key = 'AIzaSyBAobEQD70yA3gEWGjeZxGfyvvlwvMDsr8'

youtube = build('youtube', 'v3', developerKey=api_key)

### Function to access chosen channels

In [15]:
def chosen_playlist_ids():
    file_path = r'C:\Users\lawre\Documents\GitHub\YouTube-Analytics\chosen_playlist_ids.pkl'

    with open(file_path, 'rb') as file:
        playlist_ids = pickle.load(file)
    
    return playlist_ids

### Function to access base list of video IDs

In [16]:
def get_base_list():
    file_path = r'C:\Users\lawre\Documents\GitHub\YouTube-Analytics\base_video_id_list.pkl'

    with open(file_path, 'rb') as file:
        base_video_id_list = pickle.load(file)

    return base_video_id_list

### Function to access grab list of videos we are tracking

In [17]:
def get_grab_list():
    file_path = r'C:\Users\lawre\Documents\GitHub\YouTube-Analytics\grab_list.pkl'

    with open(file_path, 'rb') as file:
        grab_list = pickle.load(file)

    return grab_list

### Function to get video IDs of chosen channels

In [13]:
def mass_video_ids(youtube, wanted_playlist_ids):

    all_data = []

    for id in wanted_playlist_ids:
        
        nextpage = True
        page = None

        while nextpage:
        # request for first page of playlist
            request = youtube.playlistItems().list(
                part='contentDetails',
                playlistId = id,
                maxResults=50,
                pageToken=page)
            # dictionary of the first page   
            response = request.execute()

        # Accessing videos ids on that first page
            for i in range(len(response['items'])):
                data = dict(playlist_id = id,
                    video_id = response['items'][i]['contentDetails']['videoId'])
                all_data.append(data)

            # Checking to see if there is a next page
            if 'nextPageToken' in response:
                page = response['nextPageToken']              

            else:
                nextpage = False
    # 
    all_data_df = pd.DataFrame(all_data)

    retrived_video_ids = all_data_df['video_id']

    return retrived_video_ids

### Function to check the video IDs and add new ones to grab list

In [18]:
def video_id_checker(base_list, grab_list, new_list):

    # Iterates through the new list of videoIDs
    for video_id in new_list:
        # Checks if already in base_list
        if video_id in base_list:
            continue
        # Checks if already in grab_list
        elif video_id in grab_list:
            continue
        # Adds to grab list if not already in base_list or grab_list
        else:
            grab_list.append(video_id)

### Function to generate the grab list each day

In [38]:
def grab_list_generator():

    # Establishing base lists:
    playlist_ids = chosen_playlist_ids()
    base_list = get_base_list()
    grab_list = get_grab_list()

    # Generating videoID list:
    video_id_list = mass_video_ids(youtube, playlist_ids)

    # Checking for new videos and adding to grab list:
    video_id_checker(base_list, grab_list, video_id_list)

    # Saving new grab list:
    with open('grab_list.pkl', 'wb') as file:
        pickle.dump(grab_list, file)

    return grab_list

# Sorter Function

### Function for Getting Video Stats

In [109]:
def get_video_stats(youtube, list_of_video_ids):

    all_data = []

    # Will only return 50 results at a time, this for loop will do 50 Video IDs at a time
    for i in range(0, len(list_of_video_ids), 50):     

        request = youtube.videos().list(
            part="snippet,contentDetails,statistics",
            id=','.join(list_of_video_ids[i:i+50]))

        response = request.execute()

        for video in response['items']:
  
            data = dict(video_id = video['id'],
                        channel_id = video['snippet']['channelId'],
                        published_at = video['snippet'].get('publishedAt'),
                        title = video['snippet'].get('title'),
                        description = video['snippet'].get('description'),
                        tags = video['snippet'].get('tags', []), # was issue here as not all videos had tags, .get() might generally offer better protection
                        category_id = video['snippet'].get('categoryId'),
                        duration = video['contentDetails'].get('duration'),
                        caption = video['contentDetails'].get('caption'),
                        licensed_content = video['contentDetails'].get('licensedContent'),
                        default_language = video['snippet'].get('defaultLanguage'),
                        content_rating = video['contentDetails'].get('contentRating'),
                        view_count = video['statistics'].get('viewCount'),
                        like_count = video['statistics'].get('likeCount'), # issue 
                        favourite_count = video['statistics'].get('favoriteCount'),
                        comment_count = video['statistics'].get('commentCount'))

            all_data.append(data)

    all_data_df = pd.DataFrame(all_data)

    return all_data_df

### Creating empty dataframes - day 0 (needs to be moved)

In [215]:
columns = ['video_id', 'channel_id', 'published_at', 'title', 'description', 'tags', 'category_id', 'duration', 'caption',
         'licensed_content', 'default_language', 'content_rating', 'view_count', 'like_count', 'favourite_count', 'comment_count']

In [216]:
day_1_df = pd.DataFrame(columns=columns)
day_2_df = pd.DataFrame(columns=columns)
day_3_df = pd.DataFrame(columns=columns)
day_4_df = pd.DataFrame(columns=columns)
day_5_df = pd.DataFrame(columns=columns)
day_6_df = pd.DataFrame(columns=columns)
day_7_df = pd.DataFrame(columns=columns)

In [217]:
day_1_df

Empty DataFrame
Columns: [video_id, channel_id, published_at, title, description, tags, category_id, duration, caption, licensed_content, default_language, content_rating, view_count, like_count, favourite_count, comment_count]
Index: []

### Saving empty dataframes

In [218]:
with open('day_1_df.pkl', 'wb') as file:
    pickle.dump(day_1_df, file)

In [219]:
with open('day_2_df.pkl', 'wb') as file:
    pickle.dump(day_2_df, file)

In [220]:
with open('day_3_df.pkl', 'wb') as file:
    pickle.dump(day_3_df, file)

In [221]:
with open('day_4_df.pkl', 'wb') as file:
    pickle.dump(day_4_df, file)

In [222]:
with open('day_5_df.pkl', 'wb') as file:
    pickle.dump(day_5_df, file)

In [223]:
with open('day_6_df.pkl', 'wb') as file:
    pickle.dump(day_6_df, file)

In [224]:
with open('day_7_df.pkl', 'wb') as file:
    pickle.dump(day_7_df, file)

### Function for saving Dataframes (need to work on generic)

In [ ]:
# def save_dataframe(df):
#     file_name = ','.join(str(df_name))
#     with open('.'day_7_df.pkl', 'wb') as file:
#     pickle.dump(day_7_df, file)

In [176]:
def save_day_1_df(df):
    with open('day_1_df.pkl', 'wb') as file:
        pickle.dump(df, file)
def save_day_2_df(df):
    with open('day_2_df.pkl', 'wb') as file:
        pickle.dump(df, file)
def save_day_3_df(df):
    with open('day_3_df.pkl', 'wb') as file:
        pickle.dump(df, file)
def save_day_4_df(df):
    with open('day_4_df.pkl', 'wb') as file:
        pickle.dump(df, file)
def save_day_5_df(df):
    with open('day_5_df.pkl', 'wb') as file:
        pickle.dump(df, file)
def save_day_6_df(df):
    with open('day_6_df.pkl', 'wb') as file:
        pickle.dump(df, file)
def save_day_7_df(df):
    with open('day_7_df.pkl', 'wb') as file:
        pickle.dump(df, file)

### Functions for accessing empty dataframes (need to work on generic)

In [165]:
def get_day_1_df():
    file_path = r'C:\Users\lawre\Documents\GitHub\YouTube-Analytics\day_1_df.pkl'

    with open(file_path, 'rb') as file:
        day_1_df = pickle.load(file)

    return day_1_df
def get_day_2_df():
    file_path = r'C:\Users\lawre\Documents\GitHub\YouTube-Analytics\day_2_df.pkl'

    with open(file_path, 'rb') as file:
        day_2_df = pickle.load(file)

    return day_2_df
def get_day_3_df():
    file_path = r'C:\Users\lawre\Documents\GitHub\YouTube-Analytics\day_3_df.pkl'

    with open(file_path, 'rb') as file:
        day_3_df = pickle.load(file)

    return day_3_df
def get_day_4_df():
    file_path = r'C:\Users\lawre\Documents\GitHub\YouTube-Analytics\day_4_df.pkl'

    with open(file_path, 'rb') as file:
        day_4_df = pickle.load(file)

    return day_4_df
def get_day_5_df():
    file_path = r'C:\Users\lawre\Documents\GitHub\YouTube-Analytics\day_5_df.pkl'

    with open(file_path, 'rb') as file:
        day_5_df = pickle.load(file)

    return day_5_df
def get_day_6_df():
    file_path = r'C:\Users\lawre\Documents\GitHub\YouTube-Analytics\day_6_df.pkl'

    with open(file_path, 'rb') as file:
        day_6_df = pickle.load(file)

    return day_6_df
def get_day_7_df():
    file_path = r'C:\Users\lawre\Documents\GitHub\YouTube-Analytics\day_7_df.pkl'

    with open(file_path, 'rb') as file:
        day_7_df = pickle.load(file)

    return day_7_df

### Sorting Function

In [214]:
def sorter(new_day_df):

    # Calling functions for dataframes
    day_1_df = get_day_1_df()
    day_2_df = get_day_2_df()
    day_3_df = get_day_3_df()
    day_4_df = get_day_4_df()
    day_5_df = get_day_5_df()
    day_6_df = get_day_6_df()
    day_7_df = get_day_7_df()


    # Iterating and appending new data
    for index, row in new_day_df.iterrows():

        if row['video_id'] not in list(day_1_df['video_id']):
            day_1_df = pd.concat([day_1_df, row.to_frame().transpose()], ignore_index=True)
        elif row['video_id'] not in list(day_2_df['video_id']):
            day_2_df = pd.concat([day_2_df, row.to_frame().transpose()], ignore_index=True)
        elif row['video_id'] not in list(day_3_df['video_id']):
            day_3_df = pd.concat([day_3_df, row.to_frame().transpose()], ignore_index=True)
        elif row['video_id'] not in list(day_4_df['video_id']):
            day_4_df = pd.concat([day_4_df, row.to_frame().transpose()], ignore_index=True)
        elif row['video_id'] not in list(day_5_df['video_id']):
            day_5_df = pd.concat([day_5_df, row.to_frame().transpose()], ignore_index=True)
        elif row['video_id'] not in list(day_6_df['video_id']):
            day_6_df = pd.concat([day_6_df, row.to_frame().transpose()], ignore_index=True)
        elif row['video_id'] not in list(day_7_df['video_id']):
            day_7_df = pd.concat([day_7_df, row.to_frame().transpose()], ignore_index=True)
        else:
            continue
        

    # Saving new dataframes
    save_day_1_df(day_1_df)
    save_day_2_df(day_2_df)
    save_day_3_df(day_3_df)
    save_day_4_df(day_4_df)
    save_day_5_df(day_5_df)
    save_day_6_df(day_6_df)
    save_day_7_df(day_7_df)

## TESTING

In [124]:
test_ids = ['L5Cis5bOwgw',
            'M1I5HlzQges',
            'T_-0l0ORi5I',
            'w13zJB_jyBI',
            'oZ9rMrqyTbI',
            '6BrYKdqq4uA',
            '1dAvbIMrLos',
            'lqYxmYMkfK8',
            '-JTU734oMfk',
            'HVpbmu7rFYE',
            'NQQ3DRdXAXE',
            'xpi-M2j3NmE',
            'X07w7QFoLpc',
            'RRnThAtKuq0',
            'r3zOpjEOkgE',
            's-XYFEzy9Wc',
            'iBh1wl4o6V4',
            'L6lXKdP4Qbg',
            'xGDl6rlBygU',
            'SY6y6Y8C594']

In [125]:
test_df = get_video_stats(youtube, test_ids)

In [154]:
test_df.head(10)

,video_id,channel_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,default_language,content_rating,view_count,like_count,favourite_count,comment_count
0,L5Cis5bOwgw,UCiT9RITQ9PW6BhXK0y2jaeg,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"[Data Science, Ken Jee, Machine Learning, Spor...",28,PT12M38S,false,True,en,{},1626,80,0,22
1,M1I5HlzQges,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"[Data Science, Ken Jee, Machine Learning, jobs...",28,PT7M9S,false,True,en,{},5435,369,0,74
2,T_-0l0ORi5I,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","[Data Science, Ken Jee, data scientist, data s...",28,PT9M56S,false,True,en,{},16191,533,0,63
3,w13zJB_jyBI,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"[Data Science, Ken Jee, data scientist, data s...",28,PT6M43S,false,True,en,{},105139,2561,0,294
4,oZ9rMrqyTbI,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","[Data Science, Ken Jee, Machine Learning, ai, ...",28,PT10M44S,false,True,en,{},5782,236,0,41
5,6BrYKdqq4uA,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-07T17:57:05Z,What's in My Data Science Travel Bag? (50+ Fli...,#DataScience #kenjee \n\nI travel a LOT for w...,"[Data Science, Ken Jee, data science journey, ...",28,PT10M12S,false,True,en,{},4002,124,0,47
6,1dAvbIMrLos,UCiT9RITQ9PW6BhXK0y2jaeg,2023-07-24T12:00:01Z,7 Enticing Jobs AI Will Create,#DataScience #KenJee #AI\nIn this video I walk...,"[Ken Jee, artificial intelligence, chat gpt, f...",28,PT8M24S,false,True,en,{},4498,193,0,36
7,lqYxmYMkfK8,UCiT9RITQ9PW6BhXK0y2jaeg,2023-07-22T09:42:29Z,The ChatGPT Code Interpreter is OVERRATED,"#DataScience #KenJee #ai \n\nIn this video, I ...","[Data Science, Ken Jee, Machine Learning, data...",28,PT5M8S,false,True,en,{},4008,142,0,31
8,-JTU734oMfk,UCiT9RITQ9PW6BhXK0y2jaeg,2023-06-23T17:28:36Z,Exciting Announcement!,#DataScience #KenJee \nBig news! I know I have...,"[Data Science, Ken Jee, Machine Learning, data...",22,PT4M50S,false,True,en,{},6557,294,0,50
9,HVpbmu7rFYE,UCiT9RITQ9PW6BhXK0y2jaeg,2023-05-26T12:00:21Z,AI: A Customer Service Revolution?,#DataScience #KenJee #ai \n\nThis past week I ...,"[Data Science, Ken Jee, Machine Learning, data...",22,PT9M44S,false,True,en,{},3784,119,0,35

In [139]:
test_df_1 = test_df[:4]
test_df_2 = test_df[:7]
test_df_3 = test_df[:10]

In [140]:
columns = ['video_id', 'channel_id', 'published_at', 'title', 'description', 'tags', 'category_id', 'duration', 'caption',
        'licensed_content', 'default_language', 'content_rating', 'view_count', 'like_count', 'favourite_count', 'comment_count']

day_1_df = pd.DataFrame(columns=columns)
day_2_df = pd.DataFrame(columns=columns)
day_3_df = pd.DataFrame(columns=columns)

In [141]:
def test_function(new_day_df):

    global day_1_df
    global day_2_df
    global day_3_df

    for index, row in new_day_df.iterrows():

        if row['video_id'] not in list(day_1_df['video_id']):
            day_1_df = pd.concat([day_1_df, row.to_frame().transpose()], ignore_index=True)
        elif row['video_id'] not in list(day_2_df['video_id']):
            day_2_df = pd.concat([day_2_df, row.to_frame().transpose()], ignore_index=True)
        elif row['video_id'] not in list(day_3_df['video_id']):
            day_3_df = pd.concat([day_3_df, row.to_frame().transpose()], ignore_index=True)
        else:
            continue
    
    return day_1_df, day_2_df, day_3_df

In [142]:
day_1_df, day_2_df, day_3_df = test_function(test_df_1)

In [143]:
day_1_df

,video_id,channel_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,default_language,content_rating,view_count,like_count,favourite_count,comment_count
0,L5Cis5bOwgw,UCiT9RITQ9PW6BhXK0y2jaeg,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"[Data Science, Ken Jee, Machine Learning, Spor...",28,PT12M38S,false,True,en,{},1626,80,0,22
1,M1I5HlzQges,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"[Data Science, Ken Jee, Machine Learning, jobs...",28,PT7M9S,false,True,en,{},5435,369,0,74
2,T_-0l0ORi5I,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","[Data Science, Ken Jee, data scientist, data s...",28,PT9M56S,false,True,en,{},16191,533,0,63
3,w13zJB_jyBI,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"[Data Science, Ken Jee, data scientist, data s...",28,PT6M43S,false,True,en,{},105139,2561,0,294

In [144]:
day_2_df

Empty DataFrame
Columns: [video_id, channel_id, published_at, title, description, tags, category_id, duration, caption, licensed_content, default_language, content_rating, view_count, like_count, favourite_count, comment_count]
Index: []

In [145]:
day_3_df

Empty DataFrame
Columns: [video_id, channel_id, published_at, title, description, tags, category_id, duration, caption, licensed_content, default_language, content_rating, view_count, like_count, favourite_count, comment_count]
Index: []

In [146]:
day_1_df, day_2_df, day_3_df = test_function(test_df_2)

In [147]:
day_1_df

,video_id,channel_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,default_language,content_rating,view_count,like_count,favourite_count,comment_count
0,L5Cis5bOwgw,UCiT9RITQ9PW6BhXK0y2jaeg,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"[Data Science, Ken Jee, Machine Learning, Spor...",28,PT12M38S,false,True,en,{},1626,80,0,22
1,M1I5HlzQges,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"[Data Science, Ken Jee, Machine Learning, jobs...",28,PT7M9S,false,True,en,{},5435,369,0,74
2,T_-0l0ORi5I,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","[Data Science, Ken Jee, data scientist, data s...",28,PT9M56S,false,True,en,{},16191,533,0,63
3,w13zJB_jyBI,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"[Data Science, Ken Jee, data scientist, data s...",28,PT6M43S,false,True,en,{},105139,2561,0,294
4,oZ9rMrqyTbI,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","[Data Science, Ken Jee, Machine Learning, ai, ...",28,PT10M44S,false,True,en,{},5782,236,0,41
5,6BrYKdqq4uA,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-07T17:57:05Z,What's in My Data Science Travel Bag? (50+ Fli...,#DataScience #kenjee \n\nI travel a LOT for w...,"[Data Science, Ken Jee, data science journey, ...",28,PT10M12S,false,True,en,{},4002,124,0,47
6,1dAvbIMrLos,UCiT9RITQ9PW6BhXK0y2jaeg,2023-07-24T12:00:01Z,7 Enticing Jobs AI Will Create,#DataScience #KenJee #AI\nIn this video I walk...,"[Ken Jee, artificial intelligence, chat gpt, f...",28,PT8M24S,false,True,en,{},4498,193,0,36

In [148]:
day_2_df

,video_id,channel_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,default_language,content_rating,view_count,like_count,favourite_count,comment_count
0,L5Cis5bOwgw,UCiT9RITQ9PW6BhXK0y2jaeg,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"[Data Science, Ken Jee, Machine Learning, Spor...",28,PT12M38S,false,True,en,{},1626,80,0,22
1,M1I5HlzQges,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"[Data Science, Ken Jee, Machine Learning, jobs...",28,PT7M9S,false,True,en,{},5435,369,0,74
2,T_-0l0ORi5I,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","[Data Science, Ken Jee, data scientist, data s...",28,PT9M56S,false,True,en,{},16191,533,0,63
3,w13zJB_jyBI,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"[Data Science, Ken Jee, data scientist, data s...",28,PT6M43S,false,True,en,{},105139,2561,0,294

In [149]:
day_3_df

Empty DataFrame
Columns: [video_id, channel_id, published_at, title, description, tags, category_id, duration, caption, licensed_content, default_language, content_rating, view_count, like_count, favourite_count, comment_count]
Index: []

In [150]:
day_1_df, day_2_df, day_3_df = test_function(test_df_3)

In [151]:
day_1_df

,video_id,channel_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,default_language,content_rating,view_count,like_count,favourite_count,comment_count
0,L5Cis5bOwgw,UCiT9RITQ9PW6BhXK0y2jaeg,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"[Data Science, Ken Jee, Machine Learning, Spor...",28,PT12M38S,false,True,en,{},1626,80,0,22
1,M1I5HlzQges,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"[Data Science, Ken Jee, Machine Learning, jobs...",28,PT7M9S,false,True,en,{},5435,369,0,74
2,T_-0l0ORi5I,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","[Data Science, Ken Jee, data scientist, data s...",28,PT9M56S,false,True,en,{},16191,533,0,63
3,w13zJB_jyBI,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"[Data Science, Ken Jee, data scientist, data s...",28,PT6M43S,false,True,en,{},105139,2561,0,294
4,oZ9rMrqyTbI,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","[Data Science, Ken Jee, Machine Learning, ai, ...",28,PT10M44S,false,True,en,{},5782,236,0,41
5,6BrYKdqq4uA,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-07T17:57:05Z,What's in My Data Science Travel Bag? (50+ Fli...,#DataScience #kenjee \n\nI travel a LOT for w...,"[Data Science, Ken Jee, data science journey, ...",28,PT10M12S,false,True,en,{},4002,124,0,47
6,1dAvbIMrLos,UCiT9RITQ9PW6BhXK0y2jaeg,2023-07-24T12:00:01Z,7 Enticing Jobs AI Will Create,#DataScience #KenJee #AI\nIn this video I walk...,"[Ken Jee, artificial intelligence, chat gpt, f...",28,PT8M24S,false,True,en,{},4498,193,0,36
7,lqYxmYMkfK8,UCiT9RITQ9PW6BhXK0y2jaeg,2023-07-22T09:42:29Z,The ChatGPT Code Interpreter is OVERRATED,"#DataScience #KenJee #ai \n\nIn this video, I ...","[Data Science, Ken Jee, Machine Learning, data...",28,PT5M8S,false,True,en,{},4008,142,0,31
8,-JTU734oMfk,UCiT9RITQ9PW6BhXK0y2jaeg,2023-06-23T17:28:36Z,Exciting Announcement!,#DataScience #KenJee \nBig news! I know I have...,"[Data Science, Ken Jee, Machine Learning, data...",22,PT4M50S,false,True,en,{},6557,294,0,50
9,HVpbmu7rFYE,UCiT9RITQ9PW6BhXK0y2jaeg,2023-05-26T12:00:21Z,AI: A Customer Service Revolution?,#DataScience #KenJee #ai \n\nThis past week I ...,"[Data Science, Ken Jee, Machine Learning, data...",22,PT9M44S,false,True,en,{},3784,119,0,35

In [152]:
day_2_df

,video_id,channel_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,default_language,content_rating,view_count,like_count,favourite_count,comment_count
0,L5Cis5bOwgw,UCiT9RITQ9PW6BhXK0y2jaeg,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"[Data Science, Ken Jee, Machine Learning, Spor...",28,PT12M38S,false,True,en,{},1626,80,0,22
1,M1I5HlzQges,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"[Data Science, Ken Jee, Machine Learning, jobs...",28,PT7M9S,false,True,en,{},5435,369,0,74
2,T_-0l0ORi5I,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","[Data Science, Ken Jee, data scientist, data s...",28,PT9M56S,false,True,en,{},16191,533,0,63
3,w13zJB_jyBI,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"[Data Science, Ken Jee, data scientist, data s...",28,PT6M43S,false,True,en,{},105139,2561,0,294
4,oZ9rMrqyTbI,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-14T11:30:19Z,7 Industries AI will Aggressively Disrupt,"#DataScience #KenJee \n\nThe future is here, a...","[Data Science, Ken Jee, Machine Learning, ai, ...",28,PT10M44S,false,True,en,{},5782,236,0,41
5,6BrYKdqq4uA,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-07T17:57:05Z,What's in My Data Science Travel Bag? (50+ Fli...,#DataScience #kenjee \n\nI travel a LOT for w...,"[Data Science, Ken Jee, data science journey, ...",28,PT10M12S,false,True,en,{},4002,124,0,47
6,1dAvbIMrLos,UCiT9RITQ9PW6BhXK0y2jaeg,2023-07-24T12:00:01Z,7 Enticing Jobs AI Will Create,#DataScience #KenJee #AI\nIn this video I walk...,"[Ken Jee, artificial intelligence, chat gpt, f...",28,PT8M24S,false,True,en,{},4498,193,0,36

In [153]:
day_3_df

,video_id,channel_id,published_at,title,description,tags,category_id,duration,caption,licensed_content,default_language,content_rating,view_count,like_count,favourite_count,comment_count
0,L5Cis5bOwgw,UCiT9RITQ9PW6BhXK0y2jaeg,2023-11-17T12:00:28Z,A Data Dream Come True,#datascience #KenJee \nI gave up on my dream ...,"[Data Science, Ken Jee, Machine Learning, Spor...",28,PT12M38S,false,True,en,{},1626,80,0,22
1,M1I5HlzQges,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-22T11:46:35Z,The Death of the Full-Time Job (Rise of the Co...,#KenJee #jobs \nBuild your new website in seco...,"[Data Science, Ken Jee, Machine Learning, jobs...",28,PT7M9S,false,True,en,{},5435,369,0,74
2,T_-0l0ORi5I,UCiT9RITQ9PW6BhXK0y2jaeg,2023-09-05T10:50:39Z,How to Survive a Down Data Job Market,"#datascience #KenJee \n\nIn this video, I giv...","[Data Science, Ken Jee, data scientist, data s...",28,PT9M56S,false,True,en,{},16191,533,0,63
3,w13zJB_jyBI,UCiT9RITQ9PW6BhXK0y2jaeg,2023-08-24T11:30:19Z,The Harsh Reality of the Data Job Market,#DataScience #KenJee \nFrom everything I'm hea...,"[Data Science, Ken Jee, data scientist, data s...",28,PT6M43S,false,True,en,{},105139,2561,0,294

# TESTING 2

In [225]:
test_df.shape

(20, 16)

In [226]:
test_1_df = test_df[:4]
test_2_df = test_df[:7]
test_3_df = test_df[:10]
test_4_df = test_df[:11]
test_5_df = test_df[:13]
test_6_df = test_df[:17]
test_7_df = test_df[:20]

In [227]:
test_df_list = [test_1_df,
                test_2_df,
                test_3_df,
                test_4_df,
                test_5_df,
                test_6_df,
                test_7_df]

In [228]:
for df in test_df_list:
    sorter(df)

In [229]:
df1 = get_day_1_df()
df2 = get_day_2_df()
df3 = get_day_3_df()
df4 = get_day_4_df()
df5 = get_day_5_df()
df6 = get_day_6_df()
df7 = get_day_7_df()

In [230]:
print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)
print(df6.shape)
print(df7.shape)

(20, 16)
(17, 16)
(13, 16)
(11, 16)
(10, 16)
(7, 16)
(4, 16)

# Overall Function

In [ ]:
# Timer function

# grablist function

# video stats function

# sorter function